# macOS
.DS_Store

# Expo
.expo/

# Node modules
node_modules/

# Build directories
.expo-shared/
dist/
build/

# Ignore Python bytecode files
*.pyc
__pycache__/
.venv/
venv/

# Ignore environment variables
.env

# Synthetic DAta
*.csv

# Ignore staticfiles directory
/staticfiles

#Ignore celerybeat-schedule
celerybeat-schedule

# Ignore auto generated celery files
backend/celerybeat-schedule.bak
backend/celerybeat-schedule.dat
backend/celerybeat-schedule.dir

# Ignore AppUrls.ts file so Host URL changes can be made locally without disrupting default Heroku URL for app in production
mobile\constants\AppUrls.ts

# Ignore FCM file
mobile\google-services.json
REACT Volatility Detection Simulator.pdf

docs/
.claude/
CLAUDE.md
Resources/github.txt
Eliana Bacal REACT prompts IRB Message_Bank_v1.xlsx
Papers/
Eliana Bacal REACT_IRB01_Message_Bank_v1.docx
REACT general pool - REACT_curated_general_pool.csv (2).pdf
analysis-resources/
analytics/output
analytics/REACT-dashboard

analytics/sensitivity_analysis/data
CLAUDE.md